<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>go</title>
</head>
<body>
    <h1>Go, Weiqi yoki Weichi (xit. an’anaviy 圍棋, <br>
        soddalashtrilgan 围棋, pinyin: wéiqí) taxta ustida<br>
        oʻynaladigan mantiqiy va strategik oʻyindir. Ushbu <br>
        oʻyin ikki kishi oʻrtasida oʻynalib, oʻyinchidan maydonning<br> 
        koʻp qismini egallash bilan raqibni magʻlub etish talab etiladi.<br>
        Oʻyin 2 500 yil muqaddam Xitoyda oʻylab topilgan boʻlib, hozirga <br>
        qadar doimiy ravishda oʻynaladigan eng qadimgi stol oʻyini hisoblanadi.<br>
        [1][2] 2016-yilda Xalqaro Go Federatsiyasiga aʼzo 75 mamlakat oʻrtasida <br>
        oʻtkazilgan soʻrovnomaga koʻra, umumjahon boʻylab Go oʻyinini oʻynashni biladigan <br>
        46 milliondan oshiq odam hamda 20 milliondan oshiq hozirgi oʻyinchilar bor boʻlib, <br>
        ularning katta qismi Sharqiy Osiyoda istiqomat qilishadi.[3]</h1><br><br>

</body>
</html>