<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Java</title>
</head>
<body>
<h1>Java dasturlash tili Oak dasturlash tili asosida paydo boʻldi.<br>
    Oak dasturlash tili 90-yillarning boshida Sun Microsystems<br>
    tomonidan platformaga, yaʼni operatsion sistemaga bogʻliq boʻlmagan<br>
    holda ishlovchi yangi avlod aqlli qurilmalarini yaratishni maqsad<br>
        qilib harakat boshlagan edi. Bunga erishish uchun Sun xodimlari <br>
        C++ni ishlatishni rejalashtirdilar, lekin baʼzi sabablarga koʻra<br>
        bu fikridan voz kechishdi. Oak muvofaqiyatsiz chiqdi va 1995-yilda <br>
        Sun uning nomini Java ga almashtirdi va uni WWW rivojlanishiga xizmat<br>
        qilishi uchun maʼlum oʻzgarishlar qilishdi.</h1> <br><br>
  
</body>
</html>