<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
</head>
<body>
    <h1>Django[4] veb-ilovalar yaratishda ishlatiladigan <br>
        erkin va ochiq kodli veb-freymvorkdir[5][6]. <br>
        Python dasturlash tilida yozilgan. 2003-yilda Adrian Holovaty <br>
        va Simon Willison tomonidan yaratilgan. Loyiha Django Software Foundation<br>
        [en] nodavlat tashkiloti tomonidan qoʻllab-quvvatlanadi. PBS,[7] Instagram,[8] <br>
        Mozilla,[9] The Washington Times,[10] Disqus,[11] Bitbucket[12] va Nextdoor[13]<br>
        kabi saytlar Djangodan foydalanadi</h1><br><br>
 
</body>
</html>