<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>C++</title>
</head>
<body>
    <h1>C++ dasturlash tili C tiliga asoslangan.<br>
        C esa oʻz navbatida B va BCPL tillaridan kelib chiqqan.<br>
        BCPL 1967-yilda Martin Richards tomonidan tuzilgan va <br>
        operatsion sistemalarni yozish uchun moʻljallangan edi.<br>

        Ken Thompson oʻzining B tilida BCPL ning koʻp hossalarini<br>
        kiritgan va B da UNIX operatsion sistemasining birinchi <br>
        versiyalarini yozgan. BCPL ham, B ham tipsiz til boʻlgan. <br>
        Yani oʻzgaruvchilarning maʼlum bir tili boʻlmagan — har bir<br>
        oʻzgaruvchi kompyuter hotirasida faqat bir bayt yer egallagan.<br>
        Oʻzgaruvchini qanday sifatda ishlatish esa, yani butun sonmi,<br>
        kasrli sonmi yoki harfdekmi, dasturchi vazifasi boʻlgan.</h1><br><br>
 
</body>
</html>